@model IEnumerable<ForKids.Models.TbMenu>
<div class="collapse navbar-collapse" id="navbarCollapse">
    <div class="navbar-nav mx-auto">
        
        @foreach (var item in Model.Where(s => s.Levels == 1))
        {
            <a href="@item.Alias" class="nav-item nav-link active">@item.Title</a>
        }
    </div>
    <div class="d-flex me-4">
        <div id="phone-tada" class="d-flex align-items-center justify-content-center">
            <a href="" class="position-relative wow tada" data-wow-delay=".9s">
                <i class="fa fa-phone-alt text-primary fa-2x me-4"></i>
                <div class="position-absolute" style="top: -7px; left: 20px;">
                    <span><i class="fa fa-comment-dots text-secondary"></i></span>
                </div>
            </a>
        </div>
        <div class="d-flex flex-column pe-3 border-end border-primary">
            <span class="text-primary">Have any questions?</span>
            <a href="#"><span class="text-secondary">Free: + 0123 456 7890</span></a>
        </div>
    </div>
    <button class="btn-search btn btn-primary btn-md-square rounded-circle" data-bs-toggle="modal" data-bs-target="#searchModal"><i class="fas fa-search text-white"></i></button>
</div>